ADDR=:8080
ENV=development
EXTERNAL_URL=http://localhost:8080

DB_USER=admin
DB_PASSWORD=adminpassword
POSTGRES_DB=gosocial
POSTGRES_PORT=15432

DB_ADDR=postgres://admin:adminpassword@db:5432/gosocial?sslmode=disable

FROM_EMAIL=no-reply@example.com

SENDGRID_API_KEY=

MAILTRAP_API_KEY=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

REDIS_ENABLED=true
REDIS_ADDR=redis:6379
REDIS_PORT=16379

RATELIMITER_REQUESTS_COUNT=20
RATE_LIMITER_ENABLED=true
